<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	{% block head %}
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	{% endblock %}
</head>
<body class="main-body">
	<div class="main-block-new material-card">
			
		<img src="https://i.imgur.com/2Zm4qqa.jpg" style="height: auto; width: 100%">
		<!-- <img src="https://pear-scanplan.imgix.net/a4f1fd8a-1d46-413a-873f-dacff8c36733.jpg" style="height: auto; width: 100%"> -->
		<div class="text-center default-main-body">
				<div class="scanplan-icon text-center ">
					<!-- <img src="https://pear-scanplan.imgix.net/831e9f12-5286-4d4a-b3b3-5e567b828492.jpg" style="height: auto; width: 220px;" /> -->
					<img src="https://i.imgur.com/qOIuKMy.png" style="height: auto; width: 220px;" />
				</div>
				<h1>Erinvale Home Owners Association</h1>
				<hr />
				<p>
					Welcome to the Erinvale Home Owners Association.<br><br>
					Your account has been activated and your dashboard can be accessed via the link below.
				</p><hr />
				<h4>
					Feel free to visit your dashboard now!
				</h4><br>
				<p>Your login details are below:</p>
				<div class="password-block">
					<p>Email Address:</p>
					<h4><b><a href="mailto:{{email}}" style="text-decoration:none;color:#000001;">{{email}}</a></b></h4><br>
					<p>Temporary Password:</p>
					<h4><b>{{temporary_password}}</b></h4>
				</div>
				<div class="cascading-buttons" style="padding-top: 30px; padding-bottom: 40px;">
					<a href="https://scanplan-admin.herokuapp.com"><button class="default-accept-btn green">Dashboard</button></a>
				</div>
			</div>

		<div class="green-footer">
			You have received this email because you are a registered home owner at Erinvale. 
			If you believe you received this in error or if you have queries then please contact us at 
			<a href="mailto:support@erinvale.co.za" style="color: #ffffff !important;">support@erinvale.co.za</a>
		</div>
	</div>
</body>

</html>
